* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95.5vh;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0px;
    border-bottom: 1px solid;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#FMBW {
    align-items: center;
    justify-content: space-between;
    top: 70px;
    margin: 0;
    font-size: 30px;
    color: black;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.menu li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    text-transform: capitalize;
    text-decoration: none;
    color: #000106;
}

.content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 20px 0px 20px 0px;
    border: 5px;
    border-color: #000106;
    background-color: #f1f1f1;
}

.content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.2);
    background-color: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2)50%);
}

.add a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 25%;
    padding: 5px;
    color: black;
    border-radius: 5px;
    background-color: rgb(246, 207, 246);
}

.edit a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 80%;
    padding: 3px;
    color: aliceblue;
    border-radius: 5px;
    background-color: rgb(33, 33, 33);
}

.del a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 80%;
    padding: 3px;
    color: aliceblue;
    border-radius: 5px;
    background-color: rgb(33, 33, 33);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 85%;
    text-transform: capitalize;
    color: black;
    width: 100%;
    background-color: rgb(246, 207, 246);
}

/* input data pribadi */
.u-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 95.5vh;
    background-image: linear-gradient(90deg, rgba(230, 230, 230, 0.4) 0%, rgba(255, 255, 255, 0.7) 50%), url(bg.png);
}

.u-title h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 65px;
    text-transform: capitalize;
    color: black;
}

.u-content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.2);
    background-color: #bbbbbb62;
}

.box-input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px;
}

.nama input {
    border: none;
    outline: none;
    background-color: #bbbbbb62;
    border-radius: 10px;
    padding: 10px;
}

.alamat input {
    border: none;
    outline: none;
    background-color: #bbbbbb62;
    border-radius: 10px;
    padding: 10px;
}

.no-telp input {
    border: none;
    outline: none;
    background-color: #bbbbbb62;
    border-radius: 10px;
    padding: 10px;
}


.smb input {
    border: 1px solid #bcb6bc;
    outline: none;
    background-color: #ebebeb;
    border-radius: 10px;
    padding: 6px;
}

.smb button a {
    color: #000106;
    text-decoration: none;
    border: 1px solid #bcb6bc;
    outline: none;
    background-color: #ebebeb;
    border-radius: 10px;
    padding: 6px;
}

button {
    outline: none;
    border: none;
}

html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(90deg, rgba(230, 230, 230, 0.4) 0%, rgba(255, 255, 255, 0.7) 50%);
    background-repeat: repeat-y;
    background-size: cover; 
    display: block;
    font-size: medium;
}

/* 
button{
    position: relative;
    padding: 6px 16px;
    border: 2px solid rgb(209, 195, 195);
    background-color: rgb(211, 211, 195);
}

button:hover{
    background-color: black;
    color: bisque;
    transition: 0.4s ease;
} */

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 90px;
    width: 100%;
}

.navbar ul{
    list-style: none;
    cursor: pointer;
    float: left;
    margin-left: 800px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    font-family: 'raleway', sans-serif;
    padding: 20px 20px;
    line-height: 10px;
    margin: 0;
}

.navbar ul li a{
    text-decoration: none;
    color: rgb(240, 225, 198);
    padding: 10px 10px;
    transition: 0.7s ease;
}

.navbar ul li a:hover{
    background-color: bisque;
    color: black;
}

.navbar.active a{
    background-color:  bisque;
    color: black;
}

 .main button{
    padding: 10px;
    cursor: pointer;
    font-size: 12 px;
    border: none;
    border-radius: 5px;
    line-height: 7px;
}

.outer-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 0px;
    height: 30px;
    width: 100%;
    position: absolute;
    text-align: center;
    color: black;
    background-color: #bcb6bc;
} 
