* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0px;
    border-bottom: 1px solid;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#FMBW {
    align-items: center;
    justify-content: space-between;
    top: 70px;
    margin: 0;
    font-size: 30px;
    color: black;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.menu li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    text-transform: capitalize;
    text-decoration: none;
    color: #000106;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px;
    
}

.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px;
    background-color: rgb(227, 189, 196);
}

h3 {
    font-size: 2em;
    color: #000106;
    padding-bottom: 30px;
}

.box{
    border: 1px solid #ccc;
    padding: 15px;
    box-sizing: border-box;
    margin: 10px 0 25px 0;
    width: 100%;
}

.input_control{
    width: 100%;
    padding: 10px;
    color:  rgb(96, 82, 82);
    margin-bottom: 15px;
}

.table{
    width: 100%;
    border-collapse: collapse;
}

.table tr{
    height: 30px;
}

.table tr td {
    padding: 5px 10px;
}

.search{
    font-family:monospace;
    color:rgb(96, 82, 82);
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    height: 20px;
    background-color: rgb(246, 207, 246);
    border-radius: 90px;
    font-family: 'Courier New', Courier, monospace;
}

.search placeholder{
    color: rgb(0, 0, 0);
}
.search input{
    color: rgb(0, 0, 0);
}

.footer-sosmed {
    display: flex;
    justify-content:space-around;
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    width: 100%;
    padding: 15px 0px 0px 0px;
    height: 150px;
    background: #e0e3e8;
}

.footer-brand {
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
    text-transform: capitalize;
}

.brand {
    display: flex;
    flex-direction: column;
    font-weight: 550;
    text-transform: capitalize;
    font-style: italic;
    font-size: larger;
}

.footer-about1 li {
    padding: 10px;
}

.footer-about1 li a {
    color: var(--secondary-color);
    font-size: 15px;
    text-decoration: none;
    font-style: oblique;
    text-transform: capitalize;
}

.footer-c {
    text-align: center;
    width: 100%;
    height: 15px;  
    padding: 10px 0px;
    color: var(--secondary-color);
    background: #e0e3e8;
 }

 .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    border-bottom: 2px solid;
}
 
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.menu li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    text-transform: capitalize;
    text-decoration: none;
    color: #000106;
}

.footer {
    position: relative;
    text-align: center;
    width: 100%;
    height: 30px;
    padding: 5px 0px;
    background: #bcb6bc;
 }
