*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    padding: 10px;
    width: 100%;
    font-size: 15px;
    background: f2d6f2rgb(246, 211, 211);
    color: rgb(96, 82, 82);
    position: absolute;
    align-items: center;
}

nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary-color);
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-left: 150px;
    color: var(--secondary-color);
    position: absolute;
}

nav ul li a{
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400px;
    color: var(--secondary-color);
    margin-left: 40px;
    position: absolute;
}

nav ul li a :hover{
    opacity: .6;
}
