* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width:80% ;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#FMBW{
    top: 70px;
    margin: 0;
    padding: 0;
    font-size: 30px;
    color: var(--secondary-color);
}

.nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary-color);
}

.nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-left: 150px;
    color: var(--secondary-color);
    position: absolute;
}

.nav ul li a{
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400px;
    color: var(--secondary-color);
    margin-left: 40px;
}

.nav ul li a :hover{
    opacity: .6;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: antiquewhite;
}