* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root{
    --primary-color: #edf2fc;
    --secondary-color: #212121;
}

.dark-theme{
    --primary-color: #000106;
    --secondary-color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 2px solid #000106;
    margin: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#FMBW {
    align-items: center;
    justify-content: space-between;
    top: 70px;
    margin: 0;
    font-size: 30px;
    color: var(--secondary-color);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.menu li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    text-transform: capitalize;
    text-decoration: none;
    color: #000106;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 40px 0px 20px 0px;
    border: 5px;
    border-color: #000106;
    background-color: #f1f1f1;
}

.struk-box {
    display: flex;
    justify-content: center;
    align-items: center;

}

.struk {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
    padding: 20px;
}

h2 {
    display: flex;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.struk div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px 10px 0px;
    width: 100%;
    height: 1px;
    background-color: #000106;
}

th .text {
    font-weight: 500;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.footer-sosmed {
    display: flex;
    justify-content:space-around;
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    width: 100%;
    padding: 15px 0px 0px 0px;
    height: 150px;
    background: #e0e3e8;
}

.footer-brand {
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
    text-transform: capitalize;
}

.brand {
    display: flex;
    flex-direction: column;
    font-weight: 550;
    text-transform: capitalize;
    font-style: italic;
    font-size: larger;
}

.footer-about1 li {
    padding: 10px;
}

.footer-about1 li a {
    color: var(--secondary-color);
    font-size: 15px;
    text-decoration: none;
    font-style: oblique;
    text-transform: capitalize;
}

.footer-c {
    text-align: center;
    width: 100%;
    height: 15px;  
    padding: 10px 0px;
    color: var(--secondary-color);
    background: #e0e3e8;
 }
